[Unit]
Description=github runner service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=greg
ExecStart=/usr/bin/env /home/greg/actions-runner/run.sh

[Install]
WantedBy=multi-user.target